.booking-section {

    background-color: #1f2937;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .booking {

        width: 70rem;
        background-image: 
            linear-gradient(110deg, rgba(55,65,81, 0.9) 0%, rgba(55,65,81,0.9) 60%, transparent 60%),
            url('./images/4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__container {

            padding: 3rem;
            
            &-form {
                
                .contact__form-heading {
                    text-transform: uppercase;
                    color:  rgba(255, 255, 255, 0.856);
                    margin-bottom: 4rem;

                }

                .form {

                    &__group {

                        &:not(:last-child) {
                            margin-bottom: 3rem;
                        }
                        position: relative;
                        .form__input {
                            width: 25rem;
                            background-color: rgba(0, 0, 0, 0.692);
                            color: rgba(255, 255, 255, 0.856);
                            padding: 15px;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            display: block;
                            margin-bottom: 0.5rem;
                            border-bottom: 3px solid transparent;
                            transition: all 0.3s;

                            &::-webkit-input-placeholder {
                                color: rgba(255, 255, 255, 0.466)
                            }
                            &:focus {
                                border-bottom: 3px solid #eabd23;
                            }

                            &:placeholder-shown + .input__label {
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(-15px)
                            }
                        }

                        
                        
                        
                        .input__label {
                            color: #eabd23;
                            position: absolute;
                            font-size: 0.7rem;
                            padding-left: 15px;
                            transition: all 0.3s;
                        }
                    }

                }


            }
        }
    }
}



.form__btn-container {

    .btn {

    
    position: relative;
    text-transform: uppercase;
    font-size: 1.1rem;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 10rem;
    background-color: #eabd23;
    cursor: pointer;
    transition: all 0.2s;


    &::after {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: inline-block;
        border: none;
        border-radius: 10rem;
        background-color: #eabd23;
        transition: all 0.4s;
        z-index: -1;

    }

    &:hover::after {

        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    


    &:hover {

        transform: translateY(-3px);
        box-shadow: 0 0.5rem 1rem rgba(100, 86, 5, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.3rem 0.5rem rgba(100, 86, 5, 0.2);
    }
}
}